html,
body,
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-image: url(images/backgrounds/background-mobile.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    text-shadow: 0 0 3px rgb(0,0,1);
}

.text-align {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.mobile-top-menu-icon {
    height: 40px;
    width: 40px;
    position: fixed;
    right: 20px;
    top: 20px;
    cursor: pointer;
    border: #fff 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3f3f3f;
}

.menu-bar {
    width: 70%;
    height: 40%;
    border: white 4px solid;
    border-style: solid none;
}

.mobile-top-menu-icon span {
    font-size: 50px;
}

.top-menu {
    display: none;
}

.mobile-top-menu {
    display: none;
    background-color: #3f3f3f;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity ease 1s;
}

.mobile-top-menu.open {
    display: block;
    opacity: 1;
}

.mobile-top-menu a {
    text-decoration: none;
    cursor: pointer;
    padding: 0 30px;
    height: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-bottom: #fff solid 1px;
    color: #fff;
}

.mobile-top-menu a:hover {
    background-color: #ccc;
}

.mobile-top-menu a.close-menu-icon {
    height: 50px;
    font-size: 16px;
    border-bottom: #fff solid 2px;
}

.mobile-top-menu .close-menu-icon span {
    margin-right: 10px;
}

.hero {
    height: 100vh;
}

.hero-text {
    text-align: center;
    width: 100%;
    padding: 20px 0;
}

.hero-text .title {
    margin: 10px 0;
    font-size: 40px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    font-weight: 800;
}

.hero-text .subtitle {
    margin: 20px 0;
}

.hero-picture {
    background-image: url(images/logos/gamejam.png);
    width: 90%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 100vw;
    max-height: 100vh;
}

.header {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    font-size: 28px;
    padding: 0 0 20px 0;
}

section:nth-child(3n-2) {
    border-top: #41c19d solid 2px;
}

section:nth-child(3n-1) {
    border-top: #fcfa29 solid 2px;
}

section:nth-child(3n) {
    border-top: #fe2e36 solid 2px;
}

.info {
    background-color: #3f3f3f;
    height: 100vh;
    text-align: center;
}

.faq {
    min-height: 100vh;
}

.faq-content {
    flex-grow: 2;
    width: 100%;
    padding: 0 20px 20px 20px;
}

.faq-item {
    padding-bottom: 25px;
}

.faq-item-title {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 10px;
}

.faq-item-content {
    text-align: center;
    width: 100%;
    padding: 0 10px;
}

.faq-item-content a {
    text-decoration: none;
    color: #aaa;
    font-weight: bold;
    font-size: 18px;
}

.directions {
    padding: 20px 0 0 0;
    background-color: #3f3f3f;
}

.directions .header {
    margin: 0;
    border: none;
}

.directions-map {
    width: 100%;
}

.directions-map iframe {
    max-width: 100vw;
    pointer-events: none;
}

.bring {
    min-height: 100vh;
    margin-top: -4px;
}

.bring-content {
    flex-grow: 2;
    padding: 0 20px;
}

.bring-list {
    list-style-type: circle;
    align-items: flex-start;
    margin: 0;
}

.bring-item {
    padding: 10px 0;
}

.about-us {
    background-color: #3f3f3f;
    padding: 20px 20px;
}

.club {
    height: 100%;
    width: 100%;
    flex-direction: row;
    font-size: 20px;
    padding: 15px 0;
}

.club-logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 25%;
    width: 50%;
    border-radius: 50%;
}

.agda .club-logo {
    background-image: url(images/logos/logo-transparent.png);
    cursor: pointer;
}

.sfu .club-logo {
    background-image: url(images/logos/sfu.png);
}

.bcit .club-logo {
    background-image: url(images/logos/bcit.png);
    cursor: pointer;
}

.club-text {
    width: 50%;
    padding-left: 10px;
}

.agda .club-text {
    padding-bottom: 16px;
}

.club-text span {
    font-size: 12px;
}

/* sponsorship.html */
h3.subtitle a {
    color: #aaa;
    text-decoration: none;
    font-weight: 800;
}
/* sponsorship.html end */

@media screen and (min-width: 769px) {
    body {
        background-image: url(images/backgrounds/background-desktop.jpg);
    }

    .mobile-top-menu,
    .mobile-top-menu-icon {
        display: none;
    }

    .top-menu {
        text-align: end;
        background-color: #3f3f3f;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        border-bottom: #666 solid 1px;
    }

    .top-menu a {
        text-decoration: none;
        margin: 0;
        cursor: pointer;
        padding: 10px;
        display: block;
        color: #fff;
    }

    .top-menu a:hover {
        background-color: #ccc;
    }

    .top-menu-right {
        display: flex;
        justify-content: center;
    }

    .hero-picture {
        max-height: 400px;
        width: 100%;
    }

    .faq-item-content {
        padding: 0 30px;
    }

    .directions-content {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
    }

    .about-us {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-between;
    }

    .club {
        width: 32%;
        flex-direction: column;
        padding: 15px 5px;
    }

    .club-logo {
        width: auto;
        max-width: 250px;
    }

    .club-text {
        width: 100%;
        padding: 15px 0;
        position: relative;
        text-align: center;
    }

    .club-text span {
        font-size: 20px;
        position: absolute;
        top: -10px;
    }
}
