.hero-picture-2018 {
    background-image: url(http://bcgamejam.com/images/logos/2018/gamejam.png);
    width: 90%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 100vw;
    max-height: 100vh;
}

@media screen and (min-width: 769px) {
    .hero-picture-2018 {
        max-height: 400px;
        width: 100%;
    }
}
