/* GALLERY */
.content {
    margin: 0 auto;
    width: 800px;
}
.content ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom: 0;
}
.content li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor: pointer;
}
.content img {
    display: block;
    height: auto;
    max-width: 100%;
}
/* GALLERY END */

.content-wrapper {
    margin: 50px 0 80px 0;
}

.gallery-subtitle a {
    color: #41c19d;
    text-decoration: none;
    font-weight: 800;
}

@media screen and (max-width: 800px) {
    .gallery-hero {
        margin: 50px 15px 30px 15px;
        font-size: 18px;
        text-align: center;
    }

    .content-wrapper {
        margin-bottom: 0 0 50px 0;
    }
}

@media screen and (min-width: 801px) {
    .gallery-hero {
        margin: 70px auto 0 auto;
        max-width: 800px;
        text-align: center;
    }

    .gallery-title {
        font-size: 28px;
        padding: 0 10px 10px 10px;
    }
}
